=begin
#

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module Worka
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param create_tenant_request [CreateTenantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTenantResponse]
    def tenants_post(create_tenant_request, opts = {})
      data, _status_code, _headers = tenants_post_with_http_info(create_tenant_request, opts)
      data
    end

    # @param create_tenant_request [CreateTenantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTenantResponse, Integer, Hash)>] CreateTenantResponse data, response status code and response headers
    def tenants_post_with_http_info(create_tenant_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.tenants_post ...'
      end
      # verify the required parameter 'create_tenant_request' is set
      if @api_client.config.client_side_validation && create_tenant_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_tenant_request' when calling DefaultApi.tenants_post"
      end
      # resource path
      local_var_path = '/tenants'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tenant_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTenantResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.tenants_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#tenants_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [Integer] 
    # @param upsert_agent_request [UpsertAgentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAgentResponse]
    def tenants_tenant_id_agents_put(tenant_id, upsert_agent_request, opts = {})
      data, _status_code, _headers = tenants_tenant_id_agents_put_with_http_info(tenant_id, upsert_agent_request, opts)
      data
    end

    # @param tenant_id [Integer] 
    # @param upsert_agent_request [UpsertAgentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAgentResponse, Integer, Hash)>] CreateAgentResponse data, response status code and response headers
    def tenants_tenant_id_agents_put_with_http_info(tenant_id, upsert_agent_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.tenants_tenant_id_agents_put ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.tenants_tenant_id_agents_put"
      end
      # verify the required parameter 'upsert_agent_request' is set
      if @api_client.config.client_side_validation && upsert_agent_request.nil?
        fail ArgumentError, "Missing the required parameter 'upsert_agent_request' when calling DefaultApi.tenants_tenant_id_agents_put"
      end
      # resource path
      local_var_path = '/tenants/{tenant_id}/agents'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upsert_agent_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAgentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.tenants_tenant_id_agents_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#tenants_tenant_id_agents_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [Integer] 
    # @param create_conversation_under_tenant_request [CreateConversationUnderTenantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateConversationResponse]
    def tenants_tenant_id_conversations_post(tenant_id, create_conversation_under_tenant_request, opts = {})
      data, _status_code, _headers = tenants_tenant_id_conversations_post_with_http_info(tenant_id, create_conversation_under_tenant_request, opts)
      data
    end

    # @param tenant_id [Integer] 
    # @param create_conversation_under_tenant_request [CreateConversationUnderTenantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateConversationResponse, Integer, Hash)>] CreateConversationResponse data, response status code and response headers
    def tenants_tenant_id_conversations_post_with_http_info(tenant_id, create_conversation_under_tenant_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.tenants_tenant_id_conversations_post ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.tenants_tenant_id_conversations_post"
      end
      # verify the required parameter 'create_conversation_under_tenant_request' is set
      if @api_client.config.client_side_validation && create_conversation_under_tenant_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_conversation_under_tenant_request' when calling DefaultApi.tenants_tenant_id_conversations_post"
      end
      # resource path
      local_var_path = '/tenants/{tenant_id}/conversations'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_conversation_under_tenant_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateConversationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.tenants_tenant_id_conversations_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#tenants_tenant_id_conversations_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [Integer] 
    # @param upsert_llm_config_request [UpsertLLMConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateLLMConfigResponse]
    def tenants_tenant_id_llm_configs_post(tenant_id, upsert_llm_config_request, opts = {})
      data, _status_code, _headers = tenants_tenant_id_llm_configs_post_with_http_info(tenant_id, upsert_llm_config_request, opts)
      data
    end

    # @param tenant_id [Integer] 
    # @param upsert_llm_config_request [UpsertLLMConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateLLMConfigResponse, Integer, Hash)>] UpdateLLMConfigResponse data, response status code and response headers
    def tenants_tenant_id_llm_configs_post_with_http_info(tenant_id, upsert_llm_config_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.tenants_tenant_id_llm_configs_post ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.tenants_tenant_id_llm_configs_post"
      end
      # verify the required parameter 'upsert_llm_config_request' is set
      if @api_client.config.client_side_validation && upsert_llm_config_request.nil?
        fail ArgumentError, "Missing the required parameter 'upsert_llm_config_request' when calling DefaultApi.tenants_tenant_id_llm_configs_post"
      end
      # resource path
      local_var_path = '/tenants/{tenant_id}/llm-configs'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upsert_llm_config_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateLLMConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.tenants_tenant_id_llm_configs_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#tenants_tenant_id_llm_configs_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [Integer] 
    # @param upsert_tool_request [UpsertToolRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def tenants_tenant_id_tools_put(tenant_id, upsert_tool_request, opts = {})
      tenants_tenant_id_tools_put_with_http_info(tenant_id, upsert_tool_request, opts)
      nil
    end

    # @param tenant_id [Integer] 
    # @param upsert_tool_request [UpsertToolRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tenants_tenant_id_tools_put_with_http_info(tenant_id, upsert_tool_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.tenants_tenant_id_tools_put ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.tenants_tenant_id_tools_put"
      end
      # verify the required parameter 'upsert_tool_request' is set
      if @api_client.config.client_side_validation && upsert_tool_request.nil?
        fail ArgumentError, "Missing the required parameter 'upsert_tool_request' when calling DefaultApi.tenants_tenant_id_tools_put"
      end
      # resource path
      local_var_path = '/tenants/{tenant_id}/tools'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upsert_tool_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.tenants_tenant_id_tools_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#tenants_tenant_id_tools_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [Integer] 
    # @param create_workflow_under_tenant_request [CreateWorkflowUnderTenantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateWorkflowResponse]
    def tenants_tenant_id_workflows_post(tenant_id, create_workflow_under_tenant_request, opts = {})
      data, _status_code, _headers = tenants_tenant_id_workflows_post_with_http_info(tenant_id, create_workflow_under_tenant_request, opts)
      data
    end

    # @param tenant_id [Integer] 
    # @param create_workflow_under_tenant_request [CreateWorkflowUnderTenantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateWorkflowResponse, Integer, Hash)>] CreateWorkflowResponse data, response status code and response headers
    def tenants_tenant_id_workflows_post_with_http_info(tenant_id, create_workflow_under_tenant_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.tenants_tenant_id_workflows_post ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.tenants_tenant_id_workflows_post"
      end
      # verify the required parameter 'create_workflow_under_tenant_request' is set
      if @api_client.config.client_side_validation && create_workflow_under_tenant_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_workflow_under_tenant_request' when calling DefaultApi.tenants_tenant_id_workflows_post"
      end
      # resource path
      local_var_path = '/tenants/{tenant_id}/workflows'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_workflow_under_tenant_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateWorkflowResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.tenants_tenant_id_workflows_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#tenants_tenant_id_workflows_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [GetWorkflowResponse]
    def workflows_id_get(id, opts = {})
      data, _status_code, _headers = workflows_id_get_with_http_info(id, opts)
      data
    end

    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWorkflowResponse, Integer, Hash)>] GetWorkflowResponse data, response status code and response headers
    def workflows_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.workflows_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.workflows_id_get"
      end
      # resource path
      local_var_path = '/workflows/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWorkflowResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.workflows_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#workflows_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
